footer {
    background: linear-gradient(90deg, #5a5789 30%, #2d2c45 70%);
    color: white;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
}