.modal {
    background-color: rgba(0, 0, 0, 0.342);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;

    .modal-content {
        margin: 0 auto;
        margin-top: 40vh;
        max-width: 600px;
        background-color: white;
        padding: 0;
        box-shadow: 0 0 2px #fff;
        border-radius: 6px;
        box-shadow: 0px 1px 2px #22222271;
    }

    .modal-body {
        padding: 32px;
        p {
            margin-top: 24px;
            font-size: 13px;
        }
    }

    .modal-footer{
        width: 100%;
        display:flex;
        justify-content: flex-end;
        background-color: #f3f3f3;
        border-radius: 0 0 6px 6px;
        padding: 16px 32px;

        .btn + .btn {
            margin-left: 24px;
        }

        .btn {
            border-radius: 20px;
            padding: 6px 16px 7px;
        }

        .btn-cancel {
            background-color: transparent;
            border: 1px solid #3c75b4;
            color: #3c75b4;
            cursor: pointer;
        }

        .btn-delete {
            background-color: #e65562;
            border: 1px solid #e65562;
            color: white;
            cursor: pointer;
        }
    }
}